@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  margin: 0;
}

body {
  margin: 0;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;

}
:root {
  @apply overflow-x-hidden md:overflow-y-hidden;
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: rgba(30, 41, 59, 0.5); /* slate-800/50 */
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #4f46e5; /* indigo-600 */
  border-radius: 10px;
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #4338ca; /* indigo-700 */
}

body {
  color: var(--foreground);
  background: var(--background);
}