.animated-text {
    @apply fill-transparent stroke-white font-light mb-4 text-6xl leading-none text-white;
    stroke-width: 1;
    stroke-dasharray: 2000;
    stroke-dashoffset: 2000;
    animation: draw 20s ease forwards, fill 1s ease forwards 3s;
}

/* Outline Drawing Animation */
@keyframes draw {
    to {
        stroke-dashoffset: 0;
    }
}

/* Fill Fade-in Animation */
@keyframes fill {
    from {
        fill: transparent;
    }
    to {
        fill: white;
    }
}