.active{
    @apply outline-4 outline-amber-400 bg-violet-400 rounded-full hover:bg-violet-500 hover:text-white;
}

.link {
    @apply cursor-pointer hover:text-violet-100 md:px-3 px-2 py-1;
}

.icon {
    @apply size-2 fill-white my-2 mx-2;
}