@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  @apply overflow-x-hidden md:overflow-y-hidden;
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Roboto, sans-serif;
}

.listItem{
  @apply flex justify-between py-3 border-y-2 -mt-0.5 border-slate-600 md:py-4;
}